{% if page.media %}
{% assign mediabase = page.mediabase | default: site.mediabase %}
<h3>Media</h3>
{% assign pics = site.empty %}
{% assign links = site.empty %}

{% for item in page.media %}
  {% if item.thumburl or item.thumb %}
    {% assign pics = pics | push: item %}
  {% else %}
    {% assign links = links | push: item %}
  {% endif %}
{% endfor %}

{% assign linksize = links | size %}
{% assign picsize = pics | size %}

{% if linksize > 0 %}
{% for item in links %}
{% assign itemslug = item.pageid | default: page.id %}

{% if item.url %}{% assign url=item.url %}{% else %}{% assign url=mediabase | append: itemslug | append: '/' | append: item.image %}{% endif %}
{% assign description=item.description | default: item.image | default: url %}

{% if item.depicting %}
  {% assign description=item.description | default: "" %}
  {% assign depicting = site.empty %}
  {% if item.depicting.first %}
    {% for d in item.depicting %}
      {% assign p = site.people | where: "slug",d | first %}
      {% assign depicting = depicting | push: p %}
    {% endfor %}
  {% else %}
    {% assign p = site.people | where: "slug",item.depicting | first %}
    {% assign depicting = depicting | push: p %}
  {% endif %}
{% else %}
  {% assign description=item.description | default: item.image | default: url %}
  {% assign depicting = item.depicting %}
{% endif %}


<div class="item-link">
<a href="{{url}}" target="_new">{{description}}</a> {% if depicting %}Featuring: {% for d in depicting %}{% unless forloop.first %}{% if forloop.last %} &{% else %},{% endif %} {% endunless %}<a href="{{ site.baseurl }}{{ d.url }}">{{d.title}}</a>{% endfor %}{% endif %}
</div>
{% endfor %}
{% endif %}

{% if picsize > 0 %}
<div>
{% for item in pics %}
{% assign itemslug = item.pageid | default: page.id %}
{% assign thumbslug = item.thumbpageid | default: itemslug %}
{% assign thumbimage = item.thumbimage | default: item.image %}

{% if item.url %}{% assign url=item.url %}{% else %}{% assign url=mediabase | append: itemslug | append: '/' | append: item.image %}{% endif %}

{% if item.thumburl %}{% assign thumburl=item.thumburl %}{% elsif item.thumb %}{% assign thumburl=mediabase | append: thumbslug | append: '/thumb-' | append: thumbimage %}{% endif %}

{% if item.contributor %}
{% assign person = site.people | where: "slug",item.contributor | first %}
{% endif %}

{% if item.depicting %}
  {% assign description=item.description | default: "" %}
  {% assign depicting = site.empty %}
  {% if item.depicting.first %}
    {% for d in item.depicting %}
      {% assign p = site.people | where: "slug",d | first %}
      {% assign depicting = depicting | push: p %}
    {% endfor %}
  {% else %}
    {% assign p = site.people | where: "slug",item.depicting | first %}
    {% assign depicting = depicting | push: p %}
  {% endif %}
{% else %}
  {% assign description=item.description | default: item.image | default: url %}
  {% assign depicting = item.depicting %}
{% endif %}

<div class="item-media">
<a href="{{url}}" target="_new"><img src="{{thumburl}}" alt="" title="Enlarge"/></a>
<div class="magnify"><a href="{{url}}" title="Enlarge"></a></div>
<center>{{ description | markdownify }}{% if depicting %}Featuring: {% for d in depicting %}{% unless forloop.first %}{% if forloop.last %} &{% else %},{% endif %} {% endunless %}<a href="{{ site.baseurl }}{{ d.url }}">{{d.title}}</a>{% endfor %}{% endif %}<br/>{% if item.contributor %}Contributed by <a href="{{ site.baseurl }}{{ person.url }}">{{person.title}}</a>{% else %}&nbsp;{% endif %}</center>
</div>
{% endfor%}
</div>
{% endif %}
{% endif %}