---
---

@import "{{ site.theme }}";

header {
    p.disclaimer {
        color: #F2F2F2;
        text-align: right;
        font-size: 8px;
    }
    a {
        color: #F2F2F2;
        text-decoration: underline;
    }
    h1 a {
        text-decoration: none;
    }
}

.inner {
    max-width: 1024px;
}

a.reflink {
    vertical-align: super;
    font-size: 8px;
}

.item-media img {
    max-width: 300px;
    max-height: 300px;
}

.character {
    font-style: italic;
}

.contributor {
    font-weight: bold;
}

.deck {
    dt,dd { display: inline; }
    dt::before { content: ' '; display: block; }
    dt.black { color: #000; }
    dt.red { color: #a00; }
}

.columns {
    column-width: 15em;
}
