---
---

@import "{{ site.theme }}";

header {
    p.disclaimer {
        color: #F2F2F2;
        text-align: right;
        font-size: 8px;
    }
    a {
        color: #F2F2F2;
        text-decoration: underline;
    }
    h1 a {
        text-decoration: none;
    }
}

.inner {
    max-width: 1024px;
}

a.reflink {
    vertical-align: super;
    font-size: 8px;
}

.item-media {
    max-width: 310px;
    margin-bottom: 10px;
    padding: 5px;
    display: inline-block;
    img { max-width: 300px; max-height: 300px; margin: 0; border: 0;}
    background-color: rgb(235, 235, 235);
    .magnify {
        float: right;
        a { 
            width: 18px;
            height: 18px;
            display: block;
            color: #222222;
            background-image:linear-gradient( transparent,transparent ),url(data:image/svg+xml,%3C?xml%20version=%221.0%22%20encoding=%22UTF-8%22%20standalone=%22no%22?%3E%0A%3Csvg%20fill=%22%23000000%22%20height=%2218%22%20viewBox=%220%200%2024%2024%22%20width=%2218%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%0A%3Cpath%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%0A%3Cpath%20d=%22M16%201H4c-1.1%200-2%20.9-2%202v14h2V3h12V1zm3%204H8c-1.1%200-2%20.9-2%202v14c0%201.1.9%202%202%202h11c1.1%200%202-.9%202-2V7c0-1.1-.9-2-2-2zm0%2016H8V7h11v14z%22/%3E%0A%3C/svg%3E);
        }
    }
    p { display: inline; }
}

.character {
    font-style: italic;
}

.contributor {
    font-weight: bold;
}

.deck {
    dt,dd { display: inline; }
    dt::before { content: ' '; display: block; }
    dt.black { color: #000; }
    dt.red { color: #a00; }
}

.metadates {
    dt { display: inline; }
    dd { display: inline; padding-left: 2px; padding-right: 20px; }
    font-size: 10px;
    margin-bottom: -2px;
}

.columns {
    column-width: 15em;
}
