---
---

@import "{{ site.theme }}";

header {
    p.disclaimer {
        color: #F2F2F2;
        text-align: right;
        font-size: 8px;
    }
    a {
        color: #F2F2F2;
        text-decoration: underline;
    }
    h1 a {
        text-decoration: none;
    }
}

.inner {
    max-width: 1024px;
}

a.reflink {
    vertical-align: super;
    font-size: 8px;
}

.item-media {
    max-width: 310px;
    margin-bottom: 10px;
    padding: 5px;
    display: inline-block;
    img { max-width: 300px; max-height: 300px; margin: 0; border: 0;}
    background-color: rgb(235, 235, 235);
    .magnify {
        float: right;
        a { 
            width: 18px;
            height: 18px;
            display: block;
            color: #222222;
            background-image:linear-gradient( transparent,transparent ),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20fill%3D%22%23000000%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0V0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%2010h-2v2H9v-2H7V9h2V7h1v2h2v1z%22%2F%3E%3C%2Fsvg%3E);
        }
    }
    p { display: inline; }
}

.character {
    font-variant: small-caps;
}

.contributor {
    font-weight: bold;
}

.depicted {
    font-style: italic;
}

.deck {
    dt,dd { display: inline; }
    dt::before { content: ' '; display: block; }
    dt.black { color: #000; }
    dt.red { color: #a00; }
}

.metadates {
    dt { display: inline; }
    dd { display: inline; padding-left: 2px; padding-right: 20px; }
    font-size: 10px;
    margin-bottom: -2px;
}

.columns {
    column-width: 15em;
}
