---
layout: default
---

{{ content }}

{% if page.media %}
{% assign mediabase = page.mediabase | default: site.mediabase %}
<h3>Media</h3>
{% for item in page.media %}

{% if item.url %}{% assign url=item.url %}{% else %}{% assign url=mediabase | append: page.id | append: '/' | append: item.image %}{% endif %}

{% if item.thumburl %}{% assign thumburl=item.thumburl %}{% elsif item.thumb %}{% assign thumburl=site.mediabase | append: page.id | append: '/thumb-' | append: item.image %}{% endif %}

{% assign contributor='' %}
{% if item.contributor %}
{% assign person = site.people | where: "slug",item.contributor | first %}
{% assign contributor='contributed by ' | append: person.title %}
{% endif %}

{% if item.description %}{% assign description=item.description %}{% else %}{% assign description=item.image | append: ' ' | append: contributor %}{% endif %}

<div class="item-media">
<a href="{{url}}" target="_new">
{% if thumburl %}
<img src="{{thumburl}}" alt="{{description}}" title="{{contributor}}" />
{% else %}
{{description}}
{% endif %}
</a>
</div>
{% endfor%}
{% endif %}

{% assign keys = '' | split: ',' %}

{% assign entries = page.contributors %}
{% for key in entries %}
    {% if key %}{% assign keys = keys | push: key %}{% endif %}
{% endfor %}

{% assign entries = page.media | map: "contributor" %}
{% for key in entries %}
    {% if key %}{% assign keys = keys | push: key %}{% endif %}
{% endfor %}
{% assign keys = keys | uniq %}

{% include person_list.html keys=keys title="Contributors" class="contributors" %}

{% if page.store %}
<h3>Splunk Store</h3>
<div class="columns"><ul>{% assign items=page.store | sort: 'description' %}
{% for item in items %}
<li>{% include store_link.html id=item.product description=item.description %}</li>
{% endfor %}
</ul></div>
{% endif %}

{% assign entries = "" | split: "," %}
{% assign test='data-entry-slug="' | append: page.slug | append: '"' %}
{% assign test2='entry.html id="' | append: page.slug | append: '"' %}
{% for entry in site.entries %}
    {% if entry.slug != page.slug %}
      {% assign mentioncount1 = entry.content | split: 'span class="entry"' | where_exp: "item","item contains test" | size %}
      {% assign mentioncount2 = entry.content | split: '{% include' | where_exp: "item","item contains test2" | size %}
      {% assign mentioncount = mentioncount1 | plus: mentioncount2 %}
      {% if mentioncount > 0 %}{% assign entries = entries | push: entry %}{% endif %}
    {% endif %}
{% endfor %}
{% assign entries = entries | sort: "title" %}
{% assign entrycount = entries | size %}
{% unless entrycount==0 %}
<h3>Related Entries</h3>
<div class="columns"><ul>
{% for item in entries %}
    <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul></div>
{% endunless %}

<hr/>
<em>Do you have more information about this or other Splunk stories? <a href="{{ site.baseurl }}{% link CONTRIBUTING.md %}">Help us build the Splunk Gallery!</a></em>
<hr/>
<nav>
<a href="{{ site.baseurl }}{% link index.md %}">&lt;&lt; Home</a> <a href="{{ site.baseurl }}{% link index-entries.md %}">&lt; All Entries</a>
</nav>
