---
layout: default
---

{{ content }}

{% if page.blog or page.github or page.slack or page.answers or page.in or page.twitter %}
<h3>Links</h3>
<ul>
{%if page.blog %}<li><a href="{{page.blog}}" target="_blank">Personal Blog</a></li>{% endif %}
{%if page.splunkblog %}<li><a href="https://www.splunk.com/blog/author/{{page.splunkblog}}.html">On Splunk Blogs</a></li>{% endif %}
{%if page.github %}<li><a href="https://github.com/{{page.github}}" target="_blank">{{page.github}} on Github</a></li>{% endif %}
{%for user in page.slack %}
{% assign display = user.display %}
{% assign id = user.id | default: display %}
{% assign team = user.team | default: "splunk-usergroups" %}
{% if display %}
<li><a href="https://{{team}}.slack.com/team/{{id}}" target="_blank">{{display}} on {{team}} Slack</a></li>
{% else %}
<li><a href="https://{{team}}.slack.com/team/{{id}}" target="_blank">{{team | capitalize}} Slack Profile</a></li>
{% endif %}
{% endfor %}
{%if page.answers %}<li><a href="https://answers.splunk.com/users/{{page.answers}}/profile.html" target="_blank">Splunk Answers Profile</a></li>{% endif %}
{%if page.in %}<li><a href="https://www.linkedin.com/in/{{page.in}}/" target="_blank">LinkedIn Profile</a></li>{% endif %}
{%if page.twitter %}<li><a href="https://twitter.com/{{page.twitter}}/" target="_blank">Twitter Profile</a></li>{% endif %}
</ul>
{% endif %}

{% assign entries = site.entries | where: "contributors",page.slug | sort: 'title' %}
{% assign entrycount = entries | size %}
{% assign generalcont = site.pages | where: "url","/" | where: "contributors",page.slug | size %}
{% unless entrycount==0 and generalcont==0 %}
<h3>Gallery Contributions</h3>
<ul>
{% if generalcont>0 %}<li>General Site Support and Contributions</li>{% endif %}
{% for item in entries %}
    <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
{% endunless %}

{% assign entries = site.empty %}
{% assign iter = site.entries | group_by_exp: "item","item.media | map: 'contributor'" | where: "name",page.slug | map:"items"  %}
{% for arr in iter %}
{% for entry in arr %}
{% assign entries = entries | push: entry %}
{% endfor %}
{% endfor %}
{% assign iter = site.people | group_by_exp: "item","item.media | map: 'contributor'" | where: "name",page.slug | map:"items"  %}
{% for arr in iter %}
{% for entry in arr %}
{% assign entries = entries | push: entry %}
{% endfor %}
{% endfor %}
{% assign entries = entries | sort: "title" %}
{% assign entrycount = entries | size %}
{% unless entrycount==0 %}
<h3>Media Contributions</h3>
<ul>
{% for item in entries %}
    <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
{% endunless %}


{% assign entries = site.empty %}
{% assign test='data-person-slug="' | append: page.slug | append: '"' %}
{% for entry in site.entries %}
    {% assign mentioncount = entry.content | split: 'span class="person"' | where_exp: "item","item contains test" | size %}
    {% if mentioncount > 0 %}{% assign entries = entries | push: entry %}{% endif %}
{% endfor %}
{% assign entries = entries | sort: "title" %}
{% assign entrycount = entries | size %}
{% unless entrycount==0 %}
<h3>Entry Mentions</h3>
<ul>
{% for item in entries %}
    <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
{% endunless %}

{% assign entries = site.empty %}
{% for entry in site.entries %}
    {% assign mentioncount = 0 %}
    {% for media in entry.media %}
      {% if media.depicting contains page.slug %}
        {% assign mentioncount = 1 %}
      {% elsif media.depicting == page.slug %}
        {% assign mentioncount = 1 %}
      {% endif %}
    {% endfor %}
    {% if mentioncount > 0 %}{% assign entries = entries | push: entry %}{% endif %}
{% endfor %}

{% assign entries = entries | sort: "title" %}
{% assign entrycount = entries | size %}
{% unless entrycount==0 %}
<h3>Entry Media Depictions</h3>
<ul>
{% for item in entries %}
    <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
{% endunless %}

{% include media.html %}

<hr/>
<dl class="metadates">
<dt>Last Modified:</dt><dd>{{ page.last_modified_at | date: site.date_format }}</dd>
</dl>
<hr/>
<nav>
<a href="{{ site.baseurl }}{% link index.md %}">&lt;&lt; Home</a> <a href="{{ site.baseurl }}{% link index-people.md %}">&lt; All People</a>
</nav>
